@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #6ee5e9,#6ab7ea);
    font-family: "Raleway", sans-serif;
}
.container{
    padding: 2em;
    border-radius: 10px;
    width: 35%;
    margin: 3em auto;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(89, 134, 170, 0.75);
}
.title{
    font-size: 14px;
    color: #4e616b;
    margin-bottom: 5px;
}
.subtitle{
    margin: 2em 0;
    font-size: 13px;
    color: #879094;
}
hr{
    line-height: 1px;
}
.submit{
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #4289fd;
    color: #fff;
    padding: 1em 7em;
    cursor: pointer;
    box-shadow: 0px 4px 5px 0px rgba(209, 208, 208, 0.75);
}
.skip{
    border: none;
    outline: none;
    color: #9a9ea2;
    background-color: transparent;
    cursor: pointer;
    padding: 1em 2em;
}
.row{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
label{
    margin: 0.6em 0;
}
